.game-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    height: 40rem;
    background-color: var(--cultured);
    box-shadow: 0.3rem 0.5rem 1rem var(--indigo-blue);
    border-radius: 1rem;
    text-align: center;
}

.question{
    min-height: 11rem;
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    align-items: center;
}

.choice-container{
    display: flex;
    margin-bottom: 1.25rem;
    width: 80%;
    font-size: 1.8rem;
    border: 0.1rem solid var(--indigo-blue);
    letter-spacing: 1px;
    border-radius: 1rem;
}

.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.2rem 0.5rem var(--indigo-blue);
    transform: translateY(-0.2rem);
    transition: transform 0.15s;
}

.choice-option{
    padding: 1rem 2rem;
    background-color: var(--indigo-blue);
    color: var(--white);
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.choice-text{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.choice-element{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0 0 2rem;
}

.correct{
    box-shadow: 0 0 1.5rem var(--green-lime);
    color: var(--green-lime);
    border: 0.1rem solid var(--green-lime);
    font-weight: bolder;
    letter-spacing: 3px;
}

.incorrect{
    box-shadow: 0 0 1.5rem var(--red-salsa);
    color: var(--red-salsa);
    border: 0.1rem solid var(--red-salsa);
    font-weight: bolder;
    letter-spacing: 3px;
}